/*
.form-group{
    padding: 0 10vw 0 10vw;
}

.form-control{
    margin : 2vh 0 2vh 0;
}
*/

.form-control:focus{
    border-color: #000000 ;
}

legend{
    float: left;
}
.modal-body{
    height: 50vh;
    text-align: center;
    margin-top: 25vh;
}

.modal-content{
    background-color: azure;
}

.errortext{
    text-align: center;
    color :#ff0000;
    background-color: transparent;
    border :  none;
    font-size: 1em;
}
.error:focus, .error{
    border :  1px solid #ff0000;
    border-color: #ff0000;
}

.noerror{
    display: none;
}

.submit-logo {
    animation: submit-logo-spin infinite 2s linear;
    height: 80px;
}

.sweet-loading {
    position: absolute;
    top: 46%;
    left: 46%;
}

@keyframes submit-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
